* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  width: 10%;
}

.headline {
  font-size: 22px;
}

/*nav {
  text-align: center;
} :*/

.list {
  /*リセットCSSにより、olの番号が表示される領域が消えてしまったため領域をつくる*/
  padding-left: 40px;
}
